{% extends "layout.html" %} 

{% block title %} Account settings - Adopt Me! {% endblock %} 

{% block main %}

<div class="container account">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/account" class="list-group-item list-group-item-action">
                    About me
                </a>
                <a href="/account/password" class="list-group-item list-group-item-action">Account settings</a>
                <a href="/account/pets" class="list-group-item list-group-item-action">My pets</a>
            </div>
        </div>

        <div class="col-md-9">
            <h3>Account settings</h3>
            <form class="form-signin" action="/account/password" method="POST">
                {% if message|length > 0 %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" id="email" class="form-control" value="{{rows[5]}}" required>
                    <small id="emailHelp" class="form-text text-muted">Used to log in</small>
                </div>
                <div class="form-group">
                    <label for="current_password">Current password</label>
                    <input name="current_password" type="password" id="current_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New password</label>
                    <input name="new_password" type="password" id="new_password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password_confirm">Confirm new password</label>
                    <input name="password_confirm" type="password" id="password_confirm" class="form-control">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}