<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Complete this later
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
    -->

    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> {% block links %}{% endblock %}


</head>

<body>
    <div class="container">
        <p><a href="/">Home</a></p>
        {% if user %}
        <p>Hello, <a href="/members/{{ user }}">{{ user }}</a>. <a href="/logout">Log out</a></p>
        <p><a href="/messages">View your messages</a></p>
        {% else %}
        <p>Hello, visitor. Please <a href="/register">register</a> or <a href="/login">log in</a></p>
        {% endif %}
        <form action="/search" method="get">
            <div>
                <input type="text" placeholder="Search" name="q" id="search_query">
                <button type="submit">Search</button>
            </div>
        </form>
        <a href="/add_pet">Add pet</a>
    </div>
    
    {% block main %}{% endblock %}
    
    {% block scripts %}{% endblock %}


</body>

</html>