{% extends "layout.html" %} 

{% block title %} Adopt Me! {% endblock %} 

{% block main %}
<section id="new-pers">
    <div class="container">
        <h3>How Adopt Me works</h3><br>
        <h5>If you are looking to adopt a pet</h5>
        <ul>
            <li>
                <p>
                    You can start looking at all the <a href="/pets/dogs">dogs</a> and <a href="/pets/cats">cats</a> available for adoption right now.
                </p>
            </li>

            <li>
                <p>
                    If you wish to contact the people currently taking care of a pet you will need to <a href="/register">create an account</a>.<br>
                    If the people taking care of that pet is a registered shelter, their email will be visible.
            </p>
            </li>

            <li>
                <p>
                    After you contact them you will be able to see your <a href="/messages">messages</a> using the link at the top of the page.
                </p>
            </li>
        </ul>
        <br>
        
        <h5>If you are looking to put a pet up for adoption</h5>
        <ul>
            <li>
                <p>
                    First you must <a href="/register">create an account</a>. You can create an account for your shelter or for yourself as a person. If you choose to create an account for a shelter then your email address will be public.
            </p>
            </li>

            <li>
                <p>
                    After you create your account, go to your <a href="/account">account page</a>, where you will be able to edit your details and find the <a href="/account/pets">link</a> to see what pets you have put up for adoption and the <a href="/add_pet">link</a> to put a new pet up for adoption.
                </p>
            </li>

            <li>
                <p>
                    
                </p>
            </li>
        </ul>
    </div>
</section>


{% endblock %}