{% extends "layout.html" %} 

{% block title %} Adopt Me! {% endblock %} 

{% block main %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Animal</th>
                <th scope="col">Breed</th>
                <th scope="col">Entry Date</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <td><a href="/pets/{{ pet[0] }}">{{ pet[2] }}</a></td>
                <td>{{ pet[3] }}</td>
                <td>{{ pet[4] }}</td>
                <td>{{ pet[5] }}</td>
                <td>{{ pet[6] }}</td>
                <td>{{ pet[7].strftime('%B %d %Y') }}</td>
                <td>{{ pet[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}