{% extends "layout.html" %} 

{% block title %} Adopt Me! {% endblock %} 

{% block main %}

<div class="container pets">
    <div class="row">
        {% if pets|length > 0 %}
        <div class="col-3">
            <h5>Filters</h5>
            <form action="" method=get id="filter">
                <strong>Breed</strong><br>
                {% for breed in breeds %}
                <div class="form-check">
                {% if breed[0] in filters %}
                    <input name="breed{{ breed[0] }}" type="checkbox" onchange=submit() class="form-check-input" id="{{ breed[0]|replace(' ','') }}" checked>
                {% else %}
                    <input name="breed{{ breed[0] }}" type="checkbox" onchange=submit() class="form-check-input" id="{{ breed[0]|replace(' ','') }}">
                {% endif %}
                    <label class="form-check-label" for="{{ breed[0]|replace(' ','') }}">{{ breed[0] }}</label>
                </div>
                {% endfor %}
                <strong>Age</strong><br>
                {% for age in ages %}
                <div class="form-check">
                {% if age[0] in filters %}
                    <input name="age{{ age[0] }}" type="checkbox" onchange=submit() class="form-check-input" id="{{ age[0] }}" checked>
                {% else %}
                    <input name="age{{ age[0] }}" type="checkbox" onchange=submit() class="form-check-input" id="{{ age[0] }}">
                {% endif %}
                    <label class="form-check-label" for="{{ age[0] }}">{{ age[0] }}</label>
                </div>
                {% endfor %}

                <strong>Gender</strong><br>
                {% for gender in genders %}
                <div class="form-check">
                {% if gender[0] in filters %}
                    <input name="gender{{ gender[0] }}" type="checkbox" onchange=submit() class="form-check-input" id="{{ gender[0] }}" checked>
                {% else %}
                    <input name="gender{{ gender[0] }}" type="checkbox" onchange=submit() class="form-check-input" id="{{ gender[0] }}">
                {% endif %}
                    <label class="form-check-label" for="{{ gender[0] }}">{{ gender[0] }}</label>
                </div>
                {% endfor %}
            </form>
        </div>

        <div class="col-9">

            <div class="row row-cols-1 row-cols-md-4">

                {% for pet in pets %}
                <div class="col mb-3">
                    <a href="/pets/{{pet[5]|lower}}s/{{pet[0]}}">
                        <div class="card text-center h-100">
                            <img src="/static/uploads/{{pet[0]}}/{{pet[9]}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{pet[2]}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>

            
        </div>
        {% else %}
        <h4>Sadly there are no pets available for adoption right now. Please check again soon!</h4>
        {% endif %}
    </div>
    
</div>

{% endblock %}