{% extends "layout.html" %} {% block title %} Register new user {% endblock %} {% block links %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css"> {% endblock %} {% block main %}
<div class="container text-center login">

    <form class="form-signin" action="/register" method="POST">
        <img class="mb-4" src="/static/img/user.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="shelter">Do you represent a shelter?</label>
                    <select name="shelter" class="form-control" id="shelter">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="firstnamegroup">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input name="firstname" type="text" id="firstname" class="form-control" placeholder="First Name" required autofocus>
                </div>
            </div>
            <div class="col" id="lastnamegroup">
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input name="lastname" type="text" id="lastname" class="form-control" placeholder="Last Name" required>
                </div>
            </div>
            <div class="col" id="shelternamegroup" hidden>
                <div class="form-group">
                    <label for="sheltername">Shelter Name</label>
                    <input name="sheltername" type="text" id="sheltername" class="form-control" placeholder="Shelter Name">
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" id="email" class="form-control" placeholder="Email address" required>
                    <small id="emailHelp" class="form-text text-muted">Used to log in</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="location">Location</label>
                    <input name="location" type="text" id="location" class="form-control" placeholder="Location" required>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="password_confirm">Confirm password</label>
                    <input name="password_confirm" type="password" id="password_confirm" class="form-control" placeholder="Confirm password" required>
                </div>
            </div>
        </div>
        {% if message|length > 0 %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>

{% endblock %} {% block scripts %}
<script>
    document.getElementById("shelter").onchange = function() {
        if (document.getElementById("shelter").value == "Yes") {
            document.getElementById("firstnamegroup").hidden = true;
            document.getElementById("lastnamegroup").hidden = true;
            document.getElementById("firstname").required = false;
            document.getElementById("lastname").required = false;

            document.getElementById("shelternamegroup").hidden = false;
            document.getElementById("sheltername").required = true;
        } else {
            document.getElementById("firstnamegroup").hidden = false;
            document.getElementById("lastnamegroup").hidden = false;
            document.getElementById("firstname").required = true;
            document.getElementById("lastname").required = true;

            document.getElementById("shelternamegroup").hidden = true;
            document.getElementById("sheltername").required = false;
        }
    }
</script>
{% endblock %}