{% extends "layout.html" %}

{% block title %} Register new user {% endblock %} 

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"> 
{% endblock %} 

{% block main %}
<div class="container text-center login">
    
    <form class="form-signin" action="/register" method="POST">
        <img class="mb-4" src="/static/img/user.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
        <label for="username" class="sr-only">Username</label>
        <input name="username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="email" class="sr-only">Email address</label>
        <input name="email" type="email" id="email" class="form-control" placeholder="Email address" required>
        <label for="location" class="sr-only">Location</label>
        <input name="location" type="text" id="location" class="form-control" placeholder="Location" required>
        <div class="form-group">
            <label for="shelter">Are you a shelter</label>
            <select name="shelter" class="form-control" id="shelter">
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
        <label for="password_confirm" class="sr-only">Confirm password</label>
        <input name="password_confirm" type="password" id="password_confirm" class="form-control" placeholder="Confirm password" required>
        {% if message|length > 0 %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
</div>

{% endblock %}