{% extends "layout.html" %} 

{% block title %} Adopt Me! {% endblock %} 

{% block main %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Correspondent</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr>
                <td><a href="/messages/{{thread[0]}}" >{{ thread[3] }}</a></td>
                <td><a href="/members/{{thread[4]}}" >{{ thread[4] }}</td>
                <td>{{ thread[2][:19] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}